<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I Love PDF</title>
    <link rel="icon" type="image/x-icon"
        href="https://cdn-icons.flaticon.com/png/512/4048/premium/4048416.png?token=exp=1647870582~hmac=aca1b140e291c05386003e84a11dc374">

    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <!-- <link rel="icon" type="image/x-icon" href="https://img.icons8.com/bubbles/344/internet.png"> -->
    <!-- <img src="https://img.icons8.com/bubbles/344/internet.png" height="40px" alt=""> -->
    <header>
        <div class="brand"> I❤️PDF</div>
        <div class="options">
            <div class="tasks merge">CONVERT </div>
            <div class="tasks split">EDIT</div>
            <div class="tasks compress">COMPRESS</div>
        </div>

        <div class="auth">
            <div class="login">Login</div>
            <div class="register">SignUp</div>
        </div>
    </header>
    <div class="body">
        <tophead>
            <h1>Every tool you need to work with PDFs in one place</h1>
            <p>Every tool you need to use PDFs, at your fingertips. All are 100% FREE and easy to use! Merge, split,
                compress, convert, rotate, unlock and watermark PDFs with just a few clicks.</p>
        </tophead>
    </div>
    <div class="grid">

        <div class="item">
            <img src="https://cdn-icons.flaticon.com/png/512/1824/premium/1824908.png?token=exp=1647925615~hmac=cf34523dfb0aa4485aa64cbfa7125d45"
                alt="">
            <h3>Zip Documents</h3>
            <p>Combine files in into a zip.</p>
        </div>
        <div class="item">
            <img src="https://cdn-icons-png.flaticon.com/512/3329/3329900.png" alt="">
            <h3>Merge PDF</h3>
            <p>Combine PDFS in order.</p>
        </div>
        <div class="item">
            <img src="https://cdn-icons.flaticon.com/png/512/4726/premium/4726030.png?token=exp=1647926000~hmac=10049a9501b297a1224ad59e3a6adb05"
                alt="">
            <h3>Text to PDF</h3>
            <p>Convert Text Documents to PDF.</p>
        </div>
        <div class="item">
            <img src="https://cdn-icons.flaticon.com/png/512/4726/premium/4726040.png?token=exp=1647925934~hmac=0f0a8d54b291bf54191cc37c3c59c23f"
                alt="">
            <h3>Merge PDF</h3>
            <p>Combine PDFS in order.</p>
        </div>
        <div class="item">
            <img src="https://cdn-icons.flaticon.com/png/512/4725/premium/4725970.png?token=exp=1647926067~hmac=103467adfe48a9ed7af0ffffa28e513d"
                alt="">
            <h3>Word to PDF</h3>
            <p>Combine PDFS in order.</p>
        </div>
        <div class="item">
            <img src="https://cdn-icons.flaticon.com/png/512/4726/premium/4726016.png?token=exp=1647926196~hmac=16eb21fbd2915252b3eb91651fa47881"
                alt="">
            <h3>PPT to PDF</h3>
            <p>Combine PDFS in order.</p>
        </div>
        <div class="item">
            <img src="//unsplash.it/2222" alt="">
            <h3>Merge PDF</h3>
            <p>Combine PDFS in order.</p>
        </div>
        <div class="item" id="extract">
            <img src="https://cdn-icons-png.flaticon.com/512/6979/6979604.png" alt="">
            <h3>Extract Files</h3>
            <p>Combine PDFS in order.</p>
        </div>
        <div class="item">
            <img src="//unsplash.it/2222" alt="">
            <h3>Images to PDF</h3>
            <p>Convert Images to merged PDF</p>
        </div>
        <div class="item">
            <img src="//unsplash.it/2222" alt="">
            <h3>Add watermark</h3>
            <p>Add custom watermark to your PDF</p>
        </div>
        <div class="item">
            <img src="//unsplash.it/2222" alt="">
            <h3>Merge PDF</h3>
            <p>Combine PDFS in order.</p>
        </div>

    </div>

    <section>

        <div class="left">

            <img class="blob-image" src="//unsplash.it/721" alt="">
            <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                <path fill="#FFD6E8"
                    d="M43.1,-35.9C55.8,-18.5,65.9,-0.6,64.2,17.8C62.5,36.2,49,55,31,63.3C12.9,71.6,-9.7,69.4,-27,59.7C-44.2,50,-56.1,32.7,-61.8,12.7C-67.6,-7.4,-67.2,-30.3,-55.8,-47.4C-44.5,-64.5,-22.3,-75.7,-3.5,-72.9C15.2,-70.1,30.4,-53.3,43.1,-35.9Z"
                    transform="translate(100 100)" />
            </svg>
        </div>
        <div class="right">
            <h1>Looking for another solution?</h1>
            <div class="info">
                <h3>iLovePDFDesktop</h3>
                <p>Download the App to work with your favourite PDF tools on Mac,Windows or Linux. Get lightweight PDF
                    tool to handle heavy processing.</p>
            </div>
            <div class="info">
                <h3>iLovePDFMobile</h3>
                <p>Download the App to work with your favourite PDF tools on Mac,Windows or Linux. Get lightweight PDF
                    tool to handle heavy processing.</p>
            </div>
            <div class="info">
                <h3>iLovePDFIMG</h3>
                <p>Download the App to work with your favourite PDF tools on Mac,Windows or Linux. Get lightweight PDF
                    tool to handle heavy processing.</p>
            </div>
        </div>
    </section>

    <div class="wrapper">
        <div class="trust">
            <h1>The PDF software trusted by millions of users</h1>
            <p>
                iLovePDF is your number 1 web app for editing PDF with ease. Enjoy all the tools you need to work
                efficiently
                with your digital documents while keeping your data safe and secure.
            </p>
        </div>
        <div class="icons"></div>
    </div>
    <div class="Premium">
        <div class="content">
            <h1>Get more with Premium</h1>
            <p>Complete projects faster with batch file processing, convert scanned documents with OCR and e-sign your
                business agreements.
            </p>
        </div>
        <button>Get Premium!</button>
    </div>
    <div class="footer">
        <div class="iLovePDF">
            <h3>ILOVEPDF</h3>
            <ul>
                <li>Home</li>
                <li>Features</li>
                <li>Pricing</li>
                <li>Tools</li>
                <li>FAQ</li>
            </ul>
        </div>
        <div class="Product">
            <h3>PRODUCT</h3>
            <ul>
                <li>iLovePDFMobile</li>
                <li>iLovePDFDesktop</li>
                <li>iloveimg.com</li>
                <li>Developers</li>
                <li>Wordpress Plugin</li>
            </ul>
        </div>
        <div class="Solutions">
            <h3>SOLUTIONS</h3>
            <ul>
                <li>Business</li>
                <li>Education</li>
            </ul>
        </div>
        <div class="Company">
            <h3>COMPANY</h3>
            <ul>
                <li>Our Story</li>
                <li>Blog</li>
                <li>Press</li>
                <li>Legal</li>
                <li>Contact</li>
            </ul>
        </div>

    </div>
    <div class="end">
        <hr />
        <br />
        <p>© Prajjwal Singh-PDF Boy</p>
    </div>

    <script>

        const extract = document.querySelector('#extract');

        extract.addEventListener('click', () => {
            console.log(34);
            window.location.replace("http://localhost:3000/convert");

        })
        const merge = document.querySelector('.merge');

        merge.addEventListener('click', () => {
            window.location.replace("http://localhost:3000/convert");

        })

        const split = document.querySelector('.split');

        split.addEventListener('click', () => {
            window.location.replace("http://localhost:3000/edit");

        })


        const compress = document.querySelector('.compress');

        compress.addEventListener('click', () => {
            window.location.replace("http://localhost:3000/compress");

        })


        const brand = document.querySelector('.brand');

        brand.addEventListener('click', () => {
            window.location.replace("http://localhost:3000/");

        })


    </script>

</body>

</html>